/* navbar */
.navbar-custom {
  transition: all 0.5s ease-in-out;
}

.navbar-custom-home {
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.navbar-custom-toggle {
  display: none;
}

/* chat */
.chat-container .chat-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  background: #51994b;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  color: white;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.chat-popup {
  position: fixed;
  bottom: 90px;
  right: 20px;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}

.chat-left,
.chat-right {
  max-width: 75%;
}

.chat-left {
  background-color: #83f678;
  color: #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.chat-right {
  background-color: #ffffff;
  color: #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* endchat */

.btn-custom-success {
  background-color: #51994b;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-custom-success:hover {
  background-color: #3e7e41;
  color: white;
}

.custom-color-primary {
  color: #51994b;
}

/* input search navbar */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* card */

.custom-card-title {
  font-size: 1.25rem;
}

@media (max-width: 576px) {
  .custom-card-title {
    font-size: 1rem;
  }
}
